<aside class="left-panel">
    <div class="logo">
      <a href="javascript:void(0)" class="logo-expanded" style="text-decoration:none;">
        <i class="ion-social-buffer"></i>
        <span class="nav-label">GMserve</span>
      </a>
    </div>
    <!-- Navbar Start -->
    <nav class="navigation">
      <ul class="list-unstyled">
        <li class="active"><a href="javascript:void(0)"><i class="zmdi zmdi-view-dashboard"></i> <span class="nav-label">My
              Menu</span></a></li>
        <li class="has-submenu"><a href="#"><i class="zmdi zmdi-email"></i> <span class="nav-label">Projects</span><span
              class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0)">Project One</a></li>
            <li><a href="javascript:void(0)" (click)="subMenuWorkflow()">Project Two</a></li>
            <li><a href="javascript:void(0)">Project Three</a></li>
          </ul>
        </li>
        <li class="has-submenu"><a href="#"><i class="zmdi zmdi-format-underlined"></i> <span class="nav-label">AboutMe</span>
            <!--span class="menu-arrow"></span--></a></li>
        <li class="has-submenu"><a href="#"><i class="zmdi zmdi-album"></i> <span class="nav-label">Technologies</span>
            <!--span class="badge bg-warning">New</span--></a></li>
        <li class="has-submenu"><a href="#"><i class="zmdi zmdi-collection-text"></i> <span class="nav-label">Contact</span>
            <!--span class="menu-arrow"></span--></a></li>
      </ul>
    </nav>
  </aside>