<!-- Footer -->
<footer>
  <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright ©<span class="msgTxt">goutamsingh.com</span></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/glamour_gleam" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/glamourgleam" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/goutampsingh/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
			  <li class="list-inline-item">
                <a href="https://www.instagram.com/_gautamsingh/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="javascript:void(0)">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</footer>