<!-- Services -->
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">GMserve providing best and affordable web development services globally. We can handle all of your website needs. Help in hosting, email, domain name, secure hosting and signature hosting accounts.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web development</h4>
          <p class="text-muted">Develop application with high quality security.Easy access and search options of the products for the customers.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Develop websites today keeping in mind the tomorrow. Build responsive web design and develop website compatible to all devices including desktop, mobile and tablet.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Integration web security with ssl certificate / token. A secure Web gateway solution that prevents unsecured traffic from entering an internal network of an organization.</p>
        </div>
      </div>
    </div>
  </section>